@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}




body {
  font-family: 'Montserrat', sans-serif;
  background-color: #3a9af9;
  color: #fff;
  background: url(../static/img/wallpaperGIF.gif);
  
}

.barra {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(to right, #4d2222e0, #0e0505e3);
  color: #fff;
  margin: 0; 
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  z-index: 1000; 
}
h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 10rem auto;
}

.accordion-item {
  background-color: #0e0505dc;
  color: #fff;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  
}
.accordion-item-body-content .responsive-image {
  float: right;
  max-width: 40%;
  height: auto;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .accordion-item-body-content .responsive-image {
      float: none;
      display: block;
      margin: 0 auto;
      max-width: 100%;
  }
}


@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}

.nosotros{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  background:  #230f0fdc;  color: #fff;
  color: #fff;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  padding: 2rem;

}

.fotos{
  padding: 2rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  background:  rgba(30, 13, 13, 0.863);  color: #fff;
  margin: 3rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  
  
}

.form-container {
  display: flex;
  justify-content: space-between;
}

form {
  margin-right: 20px;
}

.custom-dropdown{
  background-color:rgba(36, 2, 2, 0.898);
  border: 0.1px solid #ffebeb; 
  border-radius: 5px; 
  padding: 5px; 
  color: #fff8f8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

.custom-dropdown option {
  background-color: rgba(36, 2, 2, 0.898); 
  color: #fff6f6; 
}

.custom-dropdown:hover{
  background-color: rgba(122, 178, 255, 0.898); 
  color: #b10b37; 
}

button {
  background-color: #4caf4f29; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px;
  margin-left: 10px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
  background-color: rgba(86, 227, 91, 0.424); 
  color: rgb(246, 165, 165); 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  margin-left: 10px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  .fotos img {
    height: 60px; 
  }
}

img {
  max-width: 100%; 
  height: auto;    
  display: block; 
  margin: 0 auto;  
}
