{% extends "base.html"%}

{%block content%}

    <h1>Graficooo</h1>
    
    <!-- Form to select data -->
    <form id="dataForm">
        <label for="dataSelect">Select Data:</label>
        <select id="dataSelect" name="data">
            <option value="data1">Top 10</option>
            <option value="data2">Bottom 10</option>
            <!-- Add more options as needed -->
        </select>
        <button type="button" onclick="updateChart()">Update Chart</button>
    </form>

    <!-- Canvas to render the chart -->
    <canvas id="myChart" width="400" height="200"></canvas>
    <script src = "../static/js/dinachart.js"></script>

{% endblock %}