<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">

    <title>Mi primera web con datos y cosas de musica</title>

</head>
<body>
    <div class="head">
        <div class="logo">
            <a href="#">Logo</a>
        </div>

        <nav class="navbar">
            <a href="#">Inicio</a>
            <a href="#">Nosotros</a>
            <a href="#">Contacto</a>
            <a href="#">Productos</a>
            <a href="#">Precio</a>
        </nav>
    </div>

    <header class="content header">
        <h2 class="title">Inicio</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis veritatis nostrum in nemo, dolore dolores sapiente facere, accusamus voluptate voluptas vero quasi veniam non ut. Ducimus est id similique sit?
        </p>  
        

        
    </header>

    <section class="content sau">
        <h2 class="title">Productos</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, perspiciatis. Harum, delectus quod. Accusantium consectetur cumque earum fuga, quos id. Dolorem numquam nobis quibusdam nam quos porro perferendis, alias consequatur!

        </p>
        
        <a href="#" class="btn"> Saber mas</a>
        
    </section> 

    <section class="content about">
        <h2 class="title">Nosotros</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla repellat eius quod doloremque molestiae saepe tempore enim est illo! Hic sapiente sit dolorum temporibus a libero maxime nisi iste quod.

        </p>

        <a href="#" class="btn"> Saber mas</a>

    </section>

    <section class="content price">

        <article class="content">
            <h2 class="title">Precio</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, maiores beatae architecto, aliquam corporis sit reiciendis iure dicta quisquam quam a amet modi deleniti, officiis cumque perspiciatis praesentium ullam aspernatur.

            </p>    

        </article>
        <a href="#" class="btn">Saber precio</a>
        <div id="graphContainer" style="display: none;">
            <script src="/paradogmas/backend/static/js/dinachart.js"></script>
        </div>
    </section>

    <section class="content contact">
        <h2 class="title">Contacto</h2>
        <p>
            correo 1

        </p>
        <p>
            correo 2
        </p>
        <figure class="LogoEscuela">
            <img src="../static/img/logo_escuela_inf.png" height="100px" width="100%" alt="LogoEscuela">

        </figure>
    </section>

</body>
</html>